.blockProduct {
    margin-top: 10%;
}


.productMenuList {
    margin-bottom: 3%;
    background-color: #ffd500;
    width: 10%;
    text-align: center;
    color: rgb(246, 246, 246) !important;
    border: 1px solid #ffffff;

    font-size: 1.5vw;

}

.add-to-cart-link {
    font-size: 1.4vh;
    font-size: 1.6vw;
    /* Ajustez la taille du texte selon vos besoins */
}

.productMenuList a {
    color: rgb(0, 0, 0) !important;
    text-decoration: none;

}

.card-title {

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 2.5vw;
    /* Optionnel: ajoutez des points de suspension pour indiquer qu'il y a plus de texte */
}

/* .container button {
    background-color: #998000 !important;
} */

.card-text {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    /* Limiter à 3 lignes */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    /* Optionnel: ajoutez des points de suspension pour indiquer qu'il y a plus de texte */
    font-size: 2vw;
}

.card-price {
    font-weight: 800 !important;
    font-size: 2vw;
    color: #EB9D2D;

}

.product-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
    /* Vous pouvez ajuster cette largeur selon vos besoins */
    display: inline-block;
    vertical-align: middle;
}

.product-name:hover::after {
    content: attr(data-fullname);
    position: absolute;
    background: #000;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    white-space: normal;
    width: auto;
    max-width: 300px;
    /* Ajustez selon vos besoins */
    z-index: 10;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
}