  <!--footer  -->
  {# <div id="footer">
    <div class="mention-entreprise">
      <div class="mention-entreprise-child"></div>
      <div class="rue-saint-philippe-du-container">
        <span class="rue-saint-philippe-du-container1">
          <p class="rue-saint-philippe-du">
            3, rue Saint-Philippe du Roule 75008 Paris
          </p>
          <p class="rue-saint-philippe-du">+33 (0) 1 42 25 58 98</p>
          <p class="rue-saint-philippe-du">
            <a class="contactrestaurantcom1" href="javascript:;" target="_blank">
              <span class="contactrestaurantcom2">contact@restaurant.com</span>
            </a>
          </p>
          <p class="rue-saint-philippe-du">
            <a class="contactrestaurantcom1" href="https://larome-paris.com/" target="_blank">
              <span class="contactrestaurantcom2">www.restaurant.com</span>
            </a>
          </p>
        </span>
      </div>
      <b class="la-bonne-fourchette">La bonne fourchette</b>
    </div>
    <div class="horaires">
      <div class="mention-entreprise-child"></div>
      <div class="ouvert-de-12h">
        Ouvert de 12h à 14h et de 19h30 à 23h00 Fermeture samedi et dimanche
      </div>
      <b class="horaires1">horaires</b>
    </div>
    <div class="mention-lgales">
      <div class="mention-entreprise-child"></div>
      <div class="la-bonne-fourchette-container">
        <span class="rue-saint-philippe-du-container1">
          <p class="rue-saint-philippe-du">2023 © La bonne fourchette</p>
          <p class="rue-saint-philippe-du">
            Copyright-Tous droits réservés
          </p>
          <p class="rue-saint-philippe-du">Mentions légales</p>
          <p class="rue-saint-philippe-du">Politique de confidentialité</p>
        </span>
      </div>
      <b class="la-bonne-fourchette">Mentions</b>
    </div>
  </div> #}