  <!-- Site footer -->
    <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <h6>A propos</h6>
            <p class="text-justify">Nous sommes un restaurant familiale depuis 2 générations. Nous souhaitons partager notre amour pour la nourriture.</p>
          </div>

          <div class="col-xs-6 col-md-3">
            <h6>ventalis</h6>
            <ul class="footer-links">
              <li><a href="{{ path('app_home') }}">Présentation</a></li>
              <li><a href="">Carte</a></li>
              <li><a href="{{ path('app_view_product') }}">Plat à emporter</a></li>
              <li><a href="">mentions légales</a></li>
            </ul>
          </div>

          <div class="col-xs-6 col-md-3">
            <h6>Contact</h6>
            <ul class="footer-links">
              <li><p>9 rue du moulin 75005 Paris</p></li>
              <li><p>Téléphone: 06 78 99 11 11</p></li>
              <li><p>Email: ventalis@outlook.com</p></li>
            </ul>
          </div>
        </div>
        <hr>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-6 col-xs-12">
            <p class="copyright-text">Copyright &copy; 2024 All Rights Reserved by
         <a href="#">Ventalis</a>.
            </p>
          </div>
        </div>
      </div>
</footer>